.nav-color {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;

  a {
    color: #ffffff;
    font-size: 1.2em;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #323232;
    }
  }
}